
/* Використання media query breakpoints */
@media (min-width: 1400px) {
  /* Коригування параметрів фреймворку Bootstrap */
  .container, .container-sm {
    max-width: 10000px;
  }
  /* Карусель та текст */
  #text-and-carousel{
    margin: auto;
    width: 95%;
  }
  #text-and-carousel p{
    color: #fff;
  }
  #carouselIndicators{
    margin: 5px;
    width: 50%;
  }
  .text-around-carousel{
    height: auto;
    width: 45%;
    margin-top: 8%;
  }
  /* Картки та текст */
  .text-and-card{
    margin-top: 1%;
    width: 100%;
  }
  .div-card{
    margin-top: 5%;
    width: 100%;
  }
  .card{
    width: 16rem;
    margin-left: 5%;
    background-color: #fec722;
  }
  .card .btn{
    background: #441b5f7d;
  }
  .text-around-card{
    margin: auto;
    width: 60%;
    padding-top: 1%;
    color: #fff;
  }
  .text-for-card{
    margin: auto;
    width: 100%;
  }

  /* Нижня панель */
  .footer{
    margin-top: 3%;
    width: 100%;
  }
  /* Нижній надпис */
  .bottom-text{
    width: auto;
    margin-bottom: 0;
    margin-left: 85%;
    font-size: 10px;
    color: #ccb;
    z-index: auto;
  }
}
